@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");

/* CSS reset */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 100%;
	font-family: "Roboto", sans-serif;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

img {
	max-width: 100%;
}

.wrapper {
	margin: 0 10vw;
}
body {
	position: relative;
}
nav {
	position: fixed;
	margin-top: -90px;
	width: 100%;
	background-color: #f2f2f2;
	z-index: 2;
}
header {
	margin-top: 90px;
}
nav .wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* position: sticky; */
	padding: 30px 0;
}
#nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#nav li {
	list-style-type: none;
}

#nav li a {
	padding: 5px;
	margin: 0 5px;
	color: black;
}
#nav li a:hover {
	background-color: red;
}
header {
	position: relative;
	min-height: 100vh;
}
#side-filter {
	position: absolute;
	top: -10px;
	height: 100%;
	padding-top: 150px;
	padding-left: 10px;
	min-width: 10vw;
	background-color: rgb(189, 189, 189);
}
#side-filter p {
	font-weight: 600;
	pointer-events: none;
}
footer {
	background-color: gray;
}
footer .wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
}
/* footer .wrapper #footer-up {
}
footer .wrapper #footer-down {
} */
#footer-top {
	display: flex;
	justify-content: space-between;
	/* align-items: flex-start; */
}
#footer-top > div {
	width: 30vw;
}
/* #footer-navlinks ul {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#footer-navlinks ul li a {
	text-align: left;
} */

/* Product */
#products {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 50px;
}
.product {
	display: flex;
	flex-direction: column;
	position: relative;
	min-height: 200px;
	width: 20vw;
	background-color: rgb(255, 216, 216);
	padding: 20px;
	border-radius: 10px;
}
.product img {
	margin-bottom: 20px;
	border-radius: 5px;
	background-color: #ffffff;
	height: 200px;
	object-fit: contain;
}
.product .product-category-name {
	color: gray;
	margin-bottom: 10px;
}
.product .product-add-to-card-btn {
	align-self: flex-end;
	display: block;
	padding: 5px 10px;
}
.product .product-description {
	padding: 5px 0;
	color: gray;
}
.product .product-price {
	display: flex;
	flex-direction: column;
}
.product .product-price .product-price-new,
.product .product-price .product-price-old {
	align-self: center;
}
.product .product-add-to-card-btn {
	background-color: rgb(255, 162, 162);
	border: 0;
	padding: 10px;
	border-radius: 5px;
}

/* Shop card menu */
.shopping-card-container {
	top: 0;
	right: -100%;
	position: fixed;
	display: flex;
	flex-direction: column;
	min-width: 300px;
	height: 100%;
	background-color: rgb(132, 158, 132);
	padding: 20px;
	overflow-y: scroll;
	overflow-y: auto;
	overflow-y: scroll;
	direction: ltr;
	scrollbar-color: #d4aa70 #e4e4e4;
	scrollbar-width: thin;
	transition: all 1s;
	z-index: 3;
}
.shopping-card-active {
	right: 0;
	transition: all 0.5s;
}

.shopping-card-container::-webkit-scrollbar {
	width: 20px;
}
.shopping-card-container::-webkit-scrollbar-track {
	background-color: #e4e4e4;
}
.shopping-card-container::-webkit-scrollbar-thumb {
	border-radius: 100px;
	border: 3px solid transparent;
	background-clip: content-box;
	background-color: #929292;
}
#card-close {
	position: absolute;
	right: 30px;
	top: 20px;
	width: 26px;
	height: 26px;
}
#card-close::before {
	content: "";
	position: absolute;
	top: 0;
	left: 13px;
	width: 3px;
	height: 25px;
	background-color: red;
	transform: rotate(45deg);
}
#card-close::after {
	content: "";
	position: absolute;
	top: 0;
	left: 13px;
	width: 3px;
	height: 25px;
	background-color: red;
	transform: rotate(-45deg);
}
#card-heading {
	position: relative;
	font-size: 2rem;
	margin: 20px 0;
}
#card-heading::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 45%;
	height: 3px;
	background-color: red;
}
.card-product {
	/* min-height: 140px; */
	padding: 20px 0;
	display: flex;
}
.card-product img {
	height: 100px;
	width: 100px;
	object-fit: contain;
	margin-right: 20px;
	background-color: #ffffff;
	border-radius: 5px;
}
.card-product-right p {
	margin-bottom: 5px;
}
.card-product-tools {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}
.card-product-quantity {
	display: flex;
	justify-content: space-between;
	margin-right: 25px;
}
.card-product-quantity input[type="button"] {
	width: 25px;
	height: 25px;
}
.card-product-quantity p {
	position: relative;
	padding: 0 10px;
	margin: 0 5px;
}
.card-product-quantity p::after {
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: red;
}
.card-product:last-child {
	position: relative;
}
.card-product:last-child::after {
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: red;
}
/* Empty card */
#empty-card {
	margin-bottom: 10px;
	font-size: 1.2rem;
	font-weight: 500;
}
.fa-trash:hover {
	color: red;
}
/* Btns */
#card-btns {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}
#card-btns input[type="button"] {
	background-color: rgb(181, 129, 233);
	padding: 5px 10px;
	/* border: 1px solid gray; */
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
#card-btns input[type="button"]:hover {
	background-color: green;
}
/* Message modal */
.message {
	position: fixed;
	bottom: 20px;
	right: 40px;
	padding: 10px;
	background-color: rgb(121, 121, 121);
	animation: addToCardMessageAnimation 5s;
	opacity: 0;
	z-index: 5;
}
.message::before {
	content: "";
	position: absolute;
	width: 10px;
	height: 100%;
	top: 0;
	left: -5px;
	background-color: red;
}

/* Slideshow */
.slideshow-container {
	/* background-color: rebeccapurple; */
	height: 300px;
	position: relative;
}

.slide {
	display: none;
	/* padding: 80px; */
	height: 300px;
	text-align: center;
	transition: all;
}
.slide img {
	/* object-fit: cover; */
	/* height: 100%; */
	/* width: 100%; */
	display: block;
	margin: 0 auto;
	background-position: center;
	object-fit: contain;
	/* background-color: red; */
}
.prev,
.next {
	position: absolute;
	background: var(--move-bg);
	padding: 10px;
	top: 43%;
	font-size: 24px;
	margin-top: -10px;
	color: #eee;
	border-radius: 5px;
	user-select: none;
	cursor: pointer;
	transition: all 0.2s;
}

.prev {
	left: 5px;
}
.next {
	right: 5px;
}

/* Checkout */
#checkout-container {
	display: flex;
}
#checkout-left,
#checkout-right {
	width: 50%;
}
#checkout-left {
	background-color: rgb(170, 170, 170);
}
#checkout-right {
	background-color: gray;
}
#checkout-product-list {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	overflow-y: auto;
	overflow-y: scroll;
	direction: ltr;
	scrollbar-color: #d4aa70 #e4e4e4;
	scrollbar-width: thin;
	height: 300px;
	padding: 20px;
}

#checkout-product-list::-webkit-scrollbar {
	width: 20px;
}
#checkout-product-list::-webkit-scrollbar-track {
	background-color: #e4e4e4;
}
#checkout-product-list::-webkit-scrollbar-thumb {
	border-radius: 100px;
	border: 3px solid transparent;
	background-clip: content-box;
	background-color: #929292;
}

#checkout-total {
	font-weight: 800;
	font-size: 1.4rem;
	padding: 5px 20px;
	position: relative;
}
#checkout-total::before {
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: red;
	position: absolute;
}

#checkout-product-list .card-product:last-child::after {
	display: none;
}
/* #checkout-left label {
	display: block;
} */

/* #checkout-name {
	display: flex;
	justify-content: space-between;
} */
#checkout-name label {
	display: block;
}
/* About me */
#about-me-container {
	position: absolute;
	top: 10vh;
	left: 10vw;
	/* display: none; */
	animation: fadeIn 1s;
}
#about-me {
	background-color: #2a427c;
	max-height: 100vh;
	width: 80vw;
	margin: 0 auto;
	display: flex;
	position: relative;
}
#about-me-right {
	padding: 20px 40px;
}
#about-me-left {
	min-width: 200px;
	background-color: #3a5cad;
}
#about-me-righ {
	width: 70%;
}
#about-me-content {
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#about-me-left img {
	display: block;
	max-height: 70%;
	background-color: #2b2b2b;
	object-fit: cover;
}
#about-social {
	display: flex;
	flex-direction: row;
}
#about-me-info-content li {
	padding: 7%;
	position: relative;
}
#about-me-info-content li::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: var(--primary-dark);
}
#about-me-info-content li {
	color: var(--font-primary);
}
#about-me-info-content li a,
#about-me-info-content li p span {
	color: var(--font-primary);
	filter: brightness(0.85);
}
#about-social ul {
	display: flex;
}
#about-social {
	padding: 7%;
}
#about-social li a {
	font-size: 2rem;
	margin-right: 20px;
	color: var(--font-primary);
}
#about-me-right h2 {
	font-size: 2.5rem;
	position: relative;
	display: inline-block;
	margin-bottom: 5%;
	color: var(--font-primary);
}
#about-me-right h2::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 120%;
	height: 3px;
	background-color: var(--primary);
}
#about-me-text {
	font-size: 1.3rem;
	color: var(--font-primary);
}
/* Quotes */
#quote-box {
	opacity: 0;
	animation: fade infinite 2s;
	color: rgb(160, 160, 160);
}
#quote {
	font-size: 1.2rem;
}
#author {
	text-align: right;
	padding: 5px;
}
#about-me #about-me-close {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 28px;
	height: 24px;
	z-index: 2;
}
#about-me #about-me-close .close {
	position: absolute;
	width: 32px;
	right: 10px;
	top: 10px;
}
#about-me-close:hover .close {
	opacity: 1;
}
#about-me::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: var(--primary);
}
.close {
	position: absolute;
	left: 0;
	top: 10px;
	width: 100%;
	height: 3px;
	opacity: 0.5;
	transition: all 0.3s;
	background-color: #ffffff;
	transition: all 0.3s ease;
}
.close:hover {
	opacity: 1;
}
.close:before,
.close:after {
	content: "";
	position: absolute;
	left: 0;
	height: 3px;
	width: 100%;
	background-color: #ffffff;
}
.close:before {
	top: -10px;
}
.close:after {
	top: 10px;
}
.cross::before {
	transform: rotate(-45deg) translate(-8px, 6px);
	opacity: 1;
}
.cross {
	height: 0;
	transform: rotate(180deg);
}
.cross::after {
	transform: rotate(45deg) translate(-8px, -6px);
	opacity: 1;
}

/* Response */
@media only screen and (max-width: 769px) {
	/* About me */
	#about-me-container {
		left: 5vw;
	}
	#about-me {
		max-height: unset;
		width: 90vw;
	}
	#about-me-right {
		padding: 20px;
	}
	#about-me-right h2 {
		font-size: 1.5rem;
	}
	#about-me-text {
		font-size: 1.1rem;
	}
	#quote {
		font-size: 1rem;
	}
}

@media only screen and (max-width: 481px) {
	#about-me {
		flex-direction: column-reverse;
	}
	#about-me-left {
		display: flex;
		flex-direction: column-reverse;
	}
	#quote-box {
		padding-top: 20px;
	}
	.sponsor-item i {
		font-size: 5rem;
	}
}

/* Animations */
@keyframes addToCardMessageAnimation {
	0% {
		right: -100px;
	}
	25% {
		right: 40px;
	}
	50% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes fade {
	20% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
}
